team {
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    h1 {
        font-weight: bold;
    }
    teamgroup {
        
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        divider {
            display: flex;
            margin:2.5px auto;
            width: 30rem;
            height: 1px;
            border: 1px solid white;
        }
        members {
            display: grid;
            grid-auto-rows: auto;
            
            grid-template-columns: repeat(auto-fill, 200px);
            grid-template-rows: 263px;
            grid-auto-flow: column;
            place-items: center;

            justify-content: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            grid-gap: 50px;
            member {
                margin-top: 25.5px;
                margin-bottom: 43px;
                

                img {
                    height:100px;
                    border-radius: 50%;
                }
                p {
                    
                }
            }
        }
    }
    
}