:root {

    /* Colors: */
    --grey: #707070;
    --white: #FFFFFF;
    --gallery-item-info: #000000;
    --footer-bg: #28567A;
    --navbar-bg: #3A77A7;
    --navbar-user: #36546F;
    
    /* Font/text values */
    --unnamed-font-family-open-sans: Open Sans;
    --unnamed-font-family-roboto: Roboto;
    --unnamed-font-family-noto-sans: Noto Sans;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-300: 300px;
    --unnamed-font-weight-600: 600px;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-size-10: 10px;
    --unnamed-font-size-13: 13px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-21: 21px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-25: 25px;
    --unnamed-font-size-26: 26px;
    --unnamed-font-size-27: 27px;
    --unnamed-font-size-29: 29px;
    --unnamed-font-size-30: 30px;
    --unnamed-font-size-31: 31px;
    --unnamed-font-size-37: 37px;
    --unnamed-font-size-38: 38px;
    --unnamed-font-size-45: 45px;
    --unnamed-font-size-49: 49px;
    --unnamed-font-size-51: 51px;
    --unnamed-font-size-72: 72px;
    --unnamed-font-size-76: 76px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-2: 0.2px;
    --unnamed-character-spacing-0-52: 0.52px;
    --unnamed-line-spacing-16: 16px;
    --unnamed-line-spacing-19: 19px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-27: 27px;
    --unnamed-line-spacing-28: 28px;
    --unnamed-line-spacing-29: 29px;
    --unnamed-line-spacing-33: 33px;
    --unnamed-line-spacing-34: 34px;
    --unnamed-line-spacing-36: 36px;
    --unnamed-line-spacing-37: 37px;
    --unnamed-line-spacing-39: 39px;
    --unnamed-line-spacing-41: 41px;
    --unnamed-line-spacing-42: 42px;
    --unnamed-line-spacing-44: 44px;
    --unnamed-line-spacing-46: 46px;
    --unnamed-line-spacing-51: 51px;
    --unnamed-line-spacing-61: 61px;
    --unnamed-line-spacing-66: 66px;
    --unnamed-line-spacing-70: 70px;
    --unnamed-line-spacing-98: 98px;
    --unnamed-line-spacing-103: 103px;
    --unnamed-text-transform-titlecase: titlecase;
    --unnamed-text-transform-uppercase: uppercase;
    --unnamed-decoration-underline: underline;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-27);
    line-height: var(--unnamed-line-spacing-37);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-51);
    line-height: var(--unnamed-line-spacing-70);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-29);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-29);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-decoration: var(--unnamed-decoration-underline);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-27);
    line-height: var(--unnamed-line-spacing-33);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-49);
    line-height: var(--unnamed-line-spacing-66);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-7 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-45);
    line-height: var(--unnamed-line-spacing-61);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-transform: var(--unnamed-text-transform-titlecase);
    }
    .unnamed-character-style-8 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-29);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-9 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-21);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-10 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-26);
    line-height: var(--unnamed-line-spacing-36);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-615f5f);
    }
    .unnamed-character-style-11 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-26);
    line-height: var(--unnamed-line-spacing-36);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .unnamed-character-style-12 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-27);
    line-height: var(--unnamed-line-spacing-37);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-615f5f);
    }
    .unnamed-character-style-13 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d3d3d);
    }
    .unnamed-character-style-14 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-37);
    line-height: var(--unnamed-line-spacing-51);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-15 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-37);
    line-height: var(--unnamed-line-spacing-51);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-16 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-37);
    line-height: var(--unnamed-line-spacing-44);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-17 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-76);
    line-height: var(--unnamed-line-spacing-103);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .unnamed-character-style-18 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-41);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-19 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-38);
    line-height: var(--unnamed-line-spacing-46);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-20 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-37);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-21 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-72);
    line-height: var(--unnamed-line-spacing-98);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-22 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-300);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-41);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-23 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-41);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-transform: var(--unnamed-text-transform-titlecase);
    }
    .unnamed-character-style-24 {
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-27);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-25 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-25);
    line-height: var(--unnamed-line-spacing-34);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-26 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3e3e3e);
    }
    .unnamed-character-style-27 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-49);
    line-height: var(--unnamed-line-spacing-66);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-28 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-13);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0-52);
    color: var(--unnamed-color-cfcfcf);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .unnamed-character-style-29 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-13);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0-52);
    color: var(--unnamed-color-3d3d3d);
    }
    .unnamed-character-style-30 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-13);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0-52);
    color: var(--unnamed-color-000000);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .unnamed-character-style-31 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-10);
    line-height: var(--unnamed-line-spacing-16);
    letter-spacing: var(--unnamed-character-spacing-0-2);
    color: var(--unnamed-color-3e3e3e);
    }
    .unnamed-character-style-32 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-34);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d3d3d);
    }
    .unnamed-character-style-33 {
    font-family: var(--unnamed-font-family-noto-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-31);
    line-height: var(--unnamed-line-spacing-42);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }