:root {

    /* Colors: */
    --grey: #707070;
    --white: #FFFFFF;
    --gallery-item-info: #000000;
    --footer-bg: #28567A;
    --navbar-bg: #3A77A7;
    --navbar-user: #36546F;
    
   
    }
    
