footer {
   
    display:flex;
    margin: 0 auto;
    align-items: stretch;
    position: -webkit-sticky;
    align-items: flex-start;
    
}

ul li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 1px;
    vertical-align: middle;
    color: white;
}


