footer {
    display:flex;

    align-items: center;
    height: 122px;
    z-index:800;
    bottom:0;
    
    background-color: var(--footer-bg);
    p {
        justify-self: left;
        margin: 43px 140px;
        display: inline;
    }
    li {
        justify-items: right;
        text-decoration: none;
        display: inline-block;
    }
}