@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


:root {

    /* Colors: */
    --grey: #707070;
    --white: #FFFFFF;
    --gallery-item-info: #000000;
    --footer-bg: #28567A;
    --navbar-bg: #3A77A7;
    --navbar-user: #36546F;
    
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}