.home_main {
    position: relative;
    top: 0;
    bottom: 0%;
    
}

.hero   {
    /* position: relative;*/
    display: flex;
    text-align: center;
    /* right: 50%; */
    /* bottom: 50%; 
         transform: translate(50%,50%); */
    text-align: center;
    vertical-align: middle;
    /* margin: 0; */
    flex: content;
    height: 100vh;
    z-index: 1;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 30px;
}

.hero-image
{
    background-image: url('https://cdn.discordapp.com/attachments/754992367752314942/755369973651603496/final5.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -10000;
    width:100vw;
    
}

.title-text {
    
    text-align: center;
    display: flex;
    flex: auto;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: relative;
    /* left: 0%; */
    width: 50%;
    height: 20%;
    flex-direction: column;
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(15%, 150%); */
    color: white;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.title-text h1{
    padding-bottom: 1em;
    font-weight: 400;
    font-size: 3.5vw;
    z-index: 1;

}
.title-text h3{
    font-weight: 10;
    font-size: 1.5vw;
    z-index: 1;
}

#title_divider{
    width: 70%;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    height: 1px;
    background-color: white;
    border: 2px solid white;
}

.about {
    width: 100%;
    height: auto;
    min-height: 50vh;
    padding: 30px;
}
